* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    height: 100vh;
    flex: 1;
    border: #293 4px solid;
    flex-direction: column;
}

.container {
    display: flex;
    /* flex-wrap: wrap; */
}

.box {
    background: #F0f;
    border: #542 2px solid;
    height: 100px;
    margin: 8px;
    display: block;

    flex: 0;
    flex: 0 1;
    flex-basis: 300px;
    flex-shrink: 1;
    flex-grow: 0;
    flex: 0 1 300px;
}

.nicebox {
    width: auto;
    flex-grow: 1;
}

.nb1 {
    flex-grow: 1;
}

.nb2 {
    flex-grow: 2;
}

.nb3 {
    flex-grow: 3;
}

.inner-container {
    display: flex;
    background: #fd3;
    flex: 1;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.final-box {
    background: black;
    width: 100px;
    height: 100px;
}