* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    height: 100vh;
    flex: 1;
    border: #293 4px solid;
    flex-direction: column;
}

.container {
    display: flex;
    
}


.box {
    background: #F0f;
    border: #542 2px solid;
    width: 300px;
    height: 200px;
    margin: 5px;
    display: block;
}